@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.donation-list {
  width: 640px;
  max-height: 600px;
  flex: 1;
  overflow-y: auto;
  margin-top: -3.1%;
  padding-right: 0;
}

.header {
  font-family: 'Titan One', cursive;
  color: grey;
  text-align: center;
}

.donation {
  color: grey;
}