.nav-bar {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 6px 6px -6px black;
  margin: 4% 10% 2% 10%;
  width: 1332px;
}

.nav-item {
  margin-top: 18px;
  font-size: 1.5rem;
}

.header-logo {
  width: 25%;
}