@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.default {
  text-align: center;
  margin-top: 15%;
  font-family: 'Lilita One', cursive;
  color: grey;
  /* transition: background-color 0.1s ease-in-out; */
}

/* .default :hover {
  color: rgb(81, 80, 80);
} */
.button {
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
  background-color: #9b2343;
  border: #9b2343;
  transition: background-color 0.1s ease-in-out;
  padding: 5px 40px 5px 40px;
}

.button:hover {
  background-color: #681a2f;
} 