@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.main-logo {
  Display: flex;
  Width: 525px;
  margin: -5% 0 0 30%;
  Align-Items: center;
  Justify-Content: center;
}

.slogan {
  text-align: center;
  font-family: 'Titan One', cursive;
  color: grey;
}